---
import Layout from '../layouts/default.astro';
---

<Layout
  title="About A Hopeful Nature"
  description="A curated compilation to help us find hope"
  image="https://example.com/image.jpg"
>
  <section class="about">
    <div class="text">
      <h1>about this site</h1>
      <p>
        A Hopeful Nature is an artistic compilation curated
        by <a href="https://www.marisamorby.com">Marisa Morby</a> to help us connect, discover 
        joy, and continue the hard work of hope.
      </p>
    </div>
    <!--
    <div class="image">
      <img
        src="https://res.cloudinary.com/marisa/image/upload/v1743563096/DSC00299_1_ai3ctw.png"
        alt="Marisa"
      />
    </div>
     -->
  </section>
</Layout>

<style>
  .about {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  .text {
    text-align: start;
    max-width: 450px;
  }
</style>
