---

---
<div class="line"></div>

<footer>
  <p>
    <small>&copy; 2026 <a href="https://www.marisamorby.com">Marisa Morby</a></small>
  </p>
</footer>

<style>
  .line {
	width: 100%;
    border-bottom: 1px solid #DDC8B0;
    position: absolute;
	}

  footer {
    inline-size: min(90dvi, 1280px);
    margin-inline: auto;
    text-align: center;
    padding-top: 10px;
  }

  nav {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
</style>
